.maiorDiv{
    display: flex;
}

.col1{
    background-color: aliceblue;
    width: 1440px;
    height: 1024px;
    flex-shrink: 0;
}


.col2{
    background-color: #273060;
    width: 580.72px;
    height: 1024px;
    flex-shrink: 0;
    text-align: center;
}

/*p: INÍCIO*/
.p1{
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial;
    margin-top: 268px;
}

button{
    color:#273060;
    background-color: white;
    width: 240.069px;
    height: 58.056px;
    border: none;
    border-radius: 27px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 227px;
    margin-left: 8px;
}