@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

main {
  display: flex;
  justify-content: center;
}

.container-comanda {
  background-color: #273060;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  width: 1100px;
  height: 42vw;
}

.container-comanda h1 {
  font-family: "Julius Sans One";
  font-size: 48px;
  font-weight: 400;
  color: white;
}

.container-tabela {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 40px;
}

.titulo {
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.item {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.item p {
  color: white;
  font-size: 20px;
}

#tabela-checkbox {
  border: 1px solid white;
}

#tabela-checkbox:checked,
#tabela-checkbox {
  width: 20px;
  height: 20px;
  accent-color: #e8e9ec;
}

.comanda-text {
  text-align: center;
}

.linha {
  margin: 50px 0px;
  width: 871px;
  height: 10px;
  background-color: white;
  border-radius: 10px;
}
