@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: Julius Sans One, Roboto;
  color: #273060;
}

body {
  padding-bottom: 50px;
  background-color: white;
}